.screen1, .screen2, .screen3 { 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
  padding-top: 10rem;
}

.screen1 h1, .screen2 h1, .screen3 h1 {
  font-family: "Josefin Sans";
  padding: 0 3rem;
}

.pageTracker {
  width: 100px;
  height: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}

h1 {
  text-align: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.339);
}

.dot1, .dot2, .dot3 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: black;
}

.screen1 > button, .screen2 > button, .screen3 > button {
  width: 15em;
  height: 3.5em;
  font-weight: 800;
  border: none;
  padding: 0;
  border-radius: 30px;
  z-index: 999;
  background-color: #454EE9;
  color: white;
}

.profileCreate {
  text-decoration: none;
  color: white;
}

.buttonTxt {
  font-size: 1.5em;
  font-weight: 510;
  font-family: "SF Pro";
}

img {
  width: 309px;
  height: 304px;
}