.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}

.back {
  width: 1.5rem;
  height: 1.5rem;
  margin: 2rem 2rem 0 2rem;
  cursor: pointer;
}

.header {
  width: 100vw;
  height: 11rem;
  background: var(--header-background);
}

.header_h1 {
  padding-top: 1rem;
  font-family: var(--font-family-josefin);
  font-weight: 500;
  text-align: center;
}

.header_p {
  font-family: var(--font-family-josefin);
  margin-top: 1.85rem;
  text-align: center;
}

.selectAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.chosenAvatar {
  width: 8.063rem;
  height: 8.063rem;
  background: var(--placeholder-background);
  border-radius: 8rem;
  margin: 1.875rem 1.875rem;
}

.formField {
  width: 17.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.nextBtn {
  margin-top: 17.5rem;
  width: 12.5rem;
  height: 3.25rem;
  margin-bottom: 3.688rem;
  background: var(--button-background);
  border-radius: 1.875rem;
  color: var(--text-button);
  font-family: var(--font-family-ubuntu);
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.label {
  width: 12.063rem;
  font-size: 1.4rem;
  font-family: var(--font-family-josefin);
  font-weight: 400;
  letter-spacing: -0.063rem;
  color: var(--text-subdued);
  text-align: left;
  align-self: flex-start;
}

.input {
  width: 17.75rem;
  height: 2.5rem;
  margin-top: 0.7rem;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--font-family-josefin);
  font-weight: 400;
  letter-spacing: -0.063rem;
  color: var(--input-placeholder);
}

@media screen and (min-width: 500px) {
  .nextBtn {
    margin-top: 5rem;
  }
}