.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.inputContainer {
  margin: 1rem 0;
}

.inputContainer input, .button {
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 40px;
  outline: none;
  border: 2px solid black;
}

.button {
  width: 100%;
  box-shadow: 1px solid rgb(179, 174, 174);
}

.button:hover {
  background-color: rgb(146, 142, 142);
  cursor: pointer;
}

