.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.inputContainer {
  margin-top: 1.5rem;
}

.inputContainer input, .button {
  padding: 0.8rem 3rem;
  font-size: 1rem;
  border-radius: 40px;
  outline: none;
  border: 1px solid #9CA3AF;
}

.button {
  font-family: "SF Pro";
  font-size: 1rem;
  border: none;
  margin-top: 1rem;
  width: 70%;
  background-color: #454EE9;
  color: white;
  cursor: pointer;
}


