.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100vw;
  height: 11rem;
  padding-top: 4rem;
  background: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.header_h1 {
  font-weight: 500;
}

.header_p {
  margin-top: 1.85rem;
}

.selectAvatar {
  
}

.chosenAvatar {
  width: 8.063rem;
  height: 8.063rem;
  background: var(--placeholder-background);
  border-radius: 8rem;
  margin: 1.875rem 1.875rem;
}

.availableAvatar {

}