.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


.label {
  display: flex;
  justify-content: start;
}

.inputContainer {
  margin-top: 1.5rem;
}

.inputContainer input, .button {
  padding: 0.5rem 3rem;
  font-size: 0.5rem;
  border-radius: 40px;
  outline: none;
  border: 2px solid black;
}

.photo * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
