.container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container h1 {
  font-family: "Josefin Sans";
  font-size: 3rem;
}

.container * {
  text-align: center;
}

.image {
  width: 250px;
  height: 250px;
}

.login {
  color: black;
  text-decoration: none;
  padding-bottom: 20px;
}