.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  overflow-x: hidden;
}

.container > div {
  margin-bottom: 2rem;
}

.container h1 {
  font-family: "Josefin Sans";
  font-size: 3rem;
}

.container * {
  text-align: center;
}

.image {
  width: 250px;
  height: 250px;
}

.login {
  color: black;
  text-decoration: none;
  padding-bottom: 2rem;
}